[submodule "domain-list-community"]
	path = domain-list-community
	url = https://github.com/v2ray/domain-list-community.git
[submodule "WindowsSpyBlocker"]
	path = WindowsSpyBlocker
	url = https://github.com/crazy-max/WindowsSpyBlocker.git
[submodule "adblock-hosts"]
	path = adblock-hosts
	url = https://github.com/bornova/adblock-hosts.git
[submodule "adBlockHosts"]
	path = adBlockHosts
	url = https://github.com/Square252/adBlockHosts.git
[submodule "StevenBlack"]
	path = StevenBlack
	url = https://github.com/StevenBlack/hosts.git
